.searchbox {
  width: 656px;
  height: 56px;
  border-radius: 64px;
  justify-content: space-between;
  padding: 8px 8px 8px 24px;
  color: #000;

}
::placeholder {
  color: #888888;
}
.ballContainer {
  position: relative;
  right: 3rem;
  top: 9px;
}

