.wrapper {
  width: 1400px;
  margin: 40px auto;
  .name {
    color: #146845;
    font-family: PT Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
    margin: 16px 0 8px 0;
  }
  .description {
    color: #c7c7c7;
    text-align: center;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .header-wrap {
    display: grid;
    grid-template-columns: 137px 70px 98px;
    margin: 0 0 30px 0;
    .height,
    .weight {
      color: #383838;
      text-align: center;
      font-family: PT Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      text-align: right;
      svg {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px 0 0;
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .pagination {
    margin: 40px auto 0 auto;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    button {
      color: #146845;
      font-family: PT Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      border-radius: 4px;
      background: #e6efe0;
      text-transform: capitalize;
      box-shadow: none;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      .arw-right {
        padding: 0 0 0 8px;
        display: inline-block;
      }
      .arw-left {
        padding: 0 8px 0 0;
        display: inline-block;
      }
    }
  }
}
.details-height,
.details-weight {
  color: #383838;
  display: flex;
  align-items: center;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0;
  }
}
.details-height {
  @media all and (max-width: 900px) {
    float: right;
  }
}
.details-weight {
  @media all and (min-width: 900px) {
    float: right;
  }
  @media all and (max-width: 900px) {
    text-align: center;
  }
}
